body {
    background-color: aliceblue;
    position: relative;
    width: 100%;
}

div.bubbleGraph {
    position: relative;
}

div.bubbleGraphExplanation {
    position: absolute;
    vertical-align: middle;
    left: 0;
    width: 35%;
}

div.parts {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}

div.parallelCoordinate {
    position: relative;
}

div.parallelCoordinateExplanation {
    position: absolute;
    vertical-align: middle;
    right: 0;
    width: 45%;
}

div.partsNoMargin {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: left;
}

h4.author-info {
    text-align: right;
}

p {
    text-align: justify;
}

svg.babbleGraphSvg {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}